/*================================
Color Variables
==================================*/

$white: #fff;

$color-primary: #309fb8;
$color-secondary: #b13c69;
$color-accent: #eeea72;
$color-shade: #eee;
// $color-test: cornflowerblue;


/*================================
fonts
==================================*/

$font-stack-primary: 'Roboto', sans-serif;
$font-stack-secondary: 'Ubuntu', sans-serif;